# О проекте
Работу выполнили студенты 2 курса Высшей школы ИТИС Зиятдинов Ремир, Кочедыков Александр и Шарифуллин Ильназ группы 11-804 и 11-801.

<b>Цель проекта</b>: на основе данных с рецензиями отелей Лас-Вегаса, предложить пользователю лучший вариант для его отдыха.Для достижения этой цели берутся данные 504 онлайн-обзоров и на их основе строятся различные модели. Для работы берутся отзывы на 21 отель, написанные в период с января по август 2015 года. 

<b>Поля</b>: полями данных являются услуги, которые может предложить каждый из отелей: спортзал, казино, спа, в каком номер проживал, количество звезд у отеля и т.д. Также учитываются данные о путевке самого рецензента: в какие периоды он проживал в отели, тип его путевки. Есть данные о самом рецензенте: откуда он приехал, его характеристика как рецензента(полезность, количество отзывов). В таблице есть данные о рецензии: когда она была написана, финальная оценка отелю.

<b>Источник</b>: https://github.com/Yorko/mlcourse.ai/blob/master/data/LasVegasTripAdvisorReviews-Dataset.csv

## Считывание данных и просмотр таблицы

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import itertools
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import cohen_kappa_score
from sklearn.metrics import matthews_corrcoef
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
import pylab as pl
plt.style.use('ggplot')
%matplotlib inline
import sklearn.metrics as metric
from sklearn.linear_model import LogisticRegression



df=pd.read_csv('/Users/remir/data_project/LasVegasTripAdvisorReviews-Dataset.csv',delimiter=';')

df.head()

,User country,Nr. reviews,Nr. hotel reviews,Helpful votes,Score,Period of stay,Traveler type,Pool,Gym,Tennis court,Spa,Casino,Free internet,Hotel name,Hotel stars,Nr. rooms,User continent,Member years,Review month,Review weekday
0,USA,11,4,13,5,Dec-Feb,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,9,January,Thursday
1,USA,119,21,75,3,Dec-Feb,Business,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,3,January,Friday
2,USA,36,9,25,5,Mar-May,Families,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,2,February,Saturday
3,UK,14,7,14,4,Mar-May,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,Europe,6,February,Friday
4,Canada,5,5,2,4,Mar-May,Solo,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,7,March,Tuesday

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 20 columns):
User country         504 non-null object
Nr. reviews          504 non-null int64
Nr. hotel reviews    504 non-null int64
Helpful votes        504 non-null int64
Score                504 non-null int64
Period of stay       504 non-null object
Traveler type        504 non-null object
Pool                 504 non-null object
Gym                  504 non-null object
Tennis court         504 non-null object
Spa                  504 non-null object
Casino               504 non-null object
Free internet        504 non-null object
Hotel name           504 non-null object
Hotel stars          504 non-null object
Nr. rooms            504 non-null int64
User continent       504 non-null object
Member years         504 non-null int64
Review month         504 non-null object
Review weekday       504 non-null object
dtypes: int64(6), object(14)
memory usage: 78.9+ KB

### Поля датасета и их описание:
(String) User country - Страна рецезента

(Integer) Nr. reviews - Количество отзывов, оставленных конкретным рецензентом

(Integer) Nr. hotel reviews - Количество отзывов об отелях, оставленных конкретным рецензентом

(Integer) Helpful votes - Полезность отзыва (количество положительных оценок)

(Integer) Score - Оценка из отзыва, выставленная отелю (значения: от 1 до 5)

(String) Period of stay - Период пребывания в отеле

(String) Traveler type - Тип путешествия

(Boolean) Pool - Наличие бассейна (Yes/No)

(Boolean) Gym - Наличие тренажерного зала (Yes/No)

(Boolean) Tennis court - Наличие теннисного корта (Yes/No)

(Boolean) Spa - Наличие спа (Yes/No)

(Boolean) Casino - Наличие казино (Yes/No)

(Boolean) Free internet - Наличие бесплатного доступа в Интернета (Yes/No)

(String) Hotel name - Название отеля

(Integer) Hotel stars - Количество звезд отеля (значения: от 3 до 5)

(Integer) Nr. rooms - Количество номеров в отеле

(String) User continent - Континент рецензента

(Integer) Member years - Стаж рецензента

(String) Review month - Месяц написания отзыва

(String) Review weekday - День недели написания отзыва

### Проверим на отсутсвие пустых значений

In [3]:
df.isnull().any().any()

False

### Просмотрим данные

In [4]:
display(df.describe(include=[np.number]))
display(df.describe(exclude=[np.number]))

,Nr. reviews,Nr. hotel reviews,Helpful votes,Score,Nr. rooms,Member years
count,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000
mean,48.130952,16.023810,31.751984,4.123016,2196.380952,0.767857
std,74.996426,23.957953,48.520783,1.007302,1285.476807,80.692897
min,1.000000,0.000000,0.000000,1.000000,188.000000,-1806.000000
25%,12.000000,5.000000,8.000000,4.000000,826.000000,2.000000
50%,23.500000,9.000000,16.000000,4.000000,2700.000000,4.000000
75%,54.250000,18.000000,35.000000,5.000000,3025.000000,6.000000
max,775.000000,263.000000,365.000000,5.000000,4027.000000,13.000000

,User country,Period of stay,Traveler type,Pool,Gym,Tennis court,Spa,Casino,Free internet,Hotel name,Hotel stars,User continent,Review month,Review weekday
count,504,504,504,504,504,504,504,504,504,504,504,504,504,504
unique,48,4,5,2,2,2,2,2,2,21,5,6,12,7
top,USA,Mar-May,Couples,YES,YES,NO,YES,YES,YES,The Venetian Las Vegas Hotel,5,North America,January,Wednesday
freq,217,128,214,480,480,384,384,456,480,24,192,295,42,85

### Заменяем категориальные данные

In [ ]:
categorical = list(df.select_dtypes(include=['object']).columns.values)
categorical
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

['Dec-Feb' 'Mar-May' 'Jun-Aug' 'Sep-Nov']
df['Period of stay'] = df['Period of stay'].map({'Dec-Feb':'winter', 'Mar-May':'spring', 'Jun-Aug' :'summer','Sep-Nov':'autumn'})

for i in range(0, len(categorical)):
    print(df[categorical[i]].unique())

In [ ]:
for i in range(0, len(categorical)):
    df[categorical[i]] = le.fit_transform(df[categorical[i]])
    
df.head()

### Одномерный анализ (анализ выявления отдельных признаков независимо от других)

In [ ]:
for i in df.var().index:
    sns.distplot(df[i],kde=False)
    plt.show()

### Корреляционный анализ признаков

In [ ]:
plt.figure(figsize=(20, 20))
correlation_matrix = df.corr()
sns.heatmap(correlation_matrix, annot=True)
plt.show()

### Создаем тестовую и тренеровочную выборки

In [ ]:
from sklearn.model_selection import train_test_split
X= df.drop(['Score'], axis=1) ## remove score label from data
y = df['Score']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

y_test = y_test.astype(int)
y_train = y_train.astype(int)

tree = DecisionTreeClassifier(max_depth=5, criterion = "entropy", random_state=0)
tree.fit(X_train, y_train)

### Строим ROC кривую

In [ ]:
cm = metric.confusion_matrix(y_test, tree.predict(X_test))

print (cm)
preds = tree.predict(X_test) 

# print(metric.accuracy_score(y_test, preds))
# print(metric.recall_score(y_test, preds))
# print(metric.precision_score(y_test, preds))
# print(metric.f1_score(y_test, preds))
# print('Сбалансированная точность:',metric.balanced_accuracy_score(y_test, preds))
# print('Коэффициент Мэттьюса:',metric.matthews_corrcoef(y_test, preds))
# print('Каппа Коэна:',metric.cohen_kappa_score(y_test, preds))


pred_prob = tree.predict_proba(X_test)
preds = pred_prob[:, -1]
fpr, tpr, threshold = metric.roc_curve(y_test, preds)
roc_auc = metric.auc(fpr, tpr)

plt.title('Characteristic')
plt.plot(fpr, tpr, 'b', label='AUC=%0.2f' % roc_auc)
plt.legend(loc = 'lower right')
plt.plot([0, 1], [0, 1],'r--')
plt.xlim([0, 1])
plt.ylim([0, 1])
plt.ylabel('True Positive Rate')
plt.xlabel('False Positive Rate')
plt.show()

tn, fp, fn, tp = cm.ravel()
TNR = tn / (tn + fp)
FPR = fp / (tn + fp)
print('True Negative Rate:', TNR)
print('False Positive Rate:', FPR)
print('Площадь под кривой:', roc_auc_score(y_test, tree.predict_proba(X_test)[:,1]))

### Выясним какой способ для предсказния оценки отелю более эффективен

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import SelectFromModel
from sklearn.feature_selection import RFE
from sklearn.linear_model import Ridge

rfe = RFE(estimator = Ridge(), n_features_to_select = 12)
rfe.fit(X_train, y_train)
feature_list = pd.DataFrame({'col':list(X_train.columns.values),'sel':list(rfe.support_ *1)})
print("*Most contributing features in Score*")

print(feature_list[feature_list.sel==1].col.values)

X_sel = pd.DataFrame(X_train, columns=(feature_list[feature_list.sel==1].col.values))
X_sel_t = pd.DataFrame(X_test, columns=(feature_list[feature_list.sel==1].col.values))

##### Random Forest

In [ ]:
clf = RandomForestClassifier(max_depth=5, random_state=0)
clf.fit(X_sel, y_train)

##### KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(X_sel, y_train) 
knn.score(X_sel_t, y_test),clf.score(X_sel_t, y_test)

### Random Forest дает лучший результат, чем KNN

In [ ]:
p = (list(clf.predict(X_sel_t)))
len(p)

In [ ]:
X_sel_t['Original_Score']= y_test
X_sel_t['pred_score'] = p
X_sel_t.head()

In [ ]:
plt.figure(figsize=(8, 5))
ax = plt.subplot()
d = list(range(0,len(X_sel_t)))
p1 = plt.plot(d,X_sel_t['Original_Score'],'r-', label="Original Score", linewidth= 1 )
p2 = plt.plot(d,X_sel_t['pred_score'],'b-', label="Predicted Score", linewidth= 1)
ax.set_title('Original Score vs Prediction score on test reviews data\n Using Random Forest')
handles, labels = ax.get_legend_handles_labels()
ax.legend(handles, labels)
ax.set_xlabel('review Id')
ax.set_ylabel('Score')
plt.show()